:{$PORT} {
    log

    redir / /portfolio/ 301

    handle /health {
        respond "OK" 200
    }

    # Pas de changement ici
    handle_path /api/* {
        reverse_proxy {$API_SERVICE_URL} {
            # L'authentification sera nécessaire ici plus tard
            header_up Host {http.reverse_proxy.upstream.hostport}
        }
    }

    # La solution est ici
    handle_path /portfolio/* {
        # Pour toute requête qui ne ressemble PAS à un fichier (ex: .css, .js)
        # on la réécrit pour qu'elle pointe vers la page d'accueil.
        rewrite not path_regexp \.\w+$ /index.html

        reverse_proxy {$PORTFOLIO_SERVICE_URL} {
            # L'authentification sera nécessaire ici plus tard
            header_up Host {http.reverse_proxy.upstream.hostport}
        }
    }
}