:{$PORT} {
    log

    redir / /portfolio/ 301

    handle /health {
        respond "OK" 200
    }

    handle_path /api/* {
        # This will now be recognized
        reverse_proxy {$API_SERVICE_URL} {
            google_id_token {
                aud {$API_SERVICE_URL}
            }
            header_up Host {http.reverse_proxy.upstream.hostport}
        }
    }

    handle_path /portfolio/* {
        # Handles SPA routing correctly
        try_files {path} /index.html

        # This will now be recognized
        reverse_proxy {$PORTFOLIO_SERVICE_URL} {
            google_id_token {
                aud {$PORTFOLIO_SERVICE_URL}
            }
            header_up Host {http.reverse_proxy.upstream.hostport}
        }
    }
}